:root {
    --primary-color-light: #0047AB; /* Cobalt Blue */
    --secondary-color-light: #FFFFFF;
    --text-color-light: #000000;

    --primary-color-dark: #0047AB;
    --secondary-color-dark: #121212;
    --text-color-dark: #FFFFFF;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid;
    text-align: left;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit {
    background-color: #ffc107;
}

.delete {
    background-color: #dc3545;
    color: white;
}

.deactivate {
    background-color: #6c757d;
    color: white;
}
